<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}" />
    </head>
    <body>
    <div id="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('build/bootstrap.js') }}"></script>
    </body>
</html>
